@import "tailwindcss";

body {
  scroll-behavior: smooth;
  font-family: var(--font-dm-sans), sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}

/* NProgress custom styling */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #000;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #000, 0 0 5px #000;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}
